.Dashboard-header {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    display: flex;
  }
  .Dashboard-left{
    border: 4px double black;
    width:50vh;
    height:100vh;
    margin:25px;
  }
  .Dashboard-right{
    width:188vh;
    height:100vh;
    margin:25px;
    overflow-y:auto;
  }
  .Dashboard-button{
      width:100%;
      height:50px;
      outline:none;
      cursor:pointer;
      background-color: #282c34;
      border:none;
      margin-top:5px;
      color: white;
      text-align: left;
  }
  .Dashboard-button:hover{
    background-color: rgba(14, 143, 218, 0.801);
  }
  .Dashboard-button-custom{
    width:80%;
    height:25px;
    outline:none;
    cursor:pointer;
    background-color: #282c34;
    border:none;
    color: white;
    text-align: left;
    font-size: 10px;
}
.main{
  width:70%;
}
.main-top{
  background-color: rgb(49, 68, 83);
  text-align: left;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-left:20px;

}
.main-bottom{
  background-color: rgb(35, 42, 44);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main-block{
  width:90%;
  display: flex;
  padding-top:20px;
  padding-left:20px;
}
.Dashboard-button-custom:hover{
  background-color: rgba(14, 143, 218, 0.801);
}
.input-color{
  width:179px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.main-block-levels{
  width:70%;
  margin-top:25px;
}
.text-area{
  width:100%;
  height:250px;
  resize:none;
  outline:none;
  border: 2px double rgb(100, 100, 250);
  background-color: rgba(207, 212, 216, 0);
  color:White;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-area-minimal{
  outline:none;
  width:40px;
  height:40px;
  border-radius: 250px;
  background-color: rgb(99, 99, 216);
  text-align: center;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.text-area-minimal::placeholder{
  color:rgba(255, 255, 255, 0.479);
}
.button-krestik{
  background-color: red;
  outline: none;
  border: none;
  cursor: pointer;
}
.loh{
  border-top: 1.5vh solid;
  border-right: 10px solid transparent;
  width:100%;
}
.loh-children{
  border-top: 1.5vh solid;
  border-right: 10px solid transparent;
  width:50%;
  margin-top:-1.5vh;
}
.rank-card-top-left{
  text-align:left;
  width:50%;
  height:100%;
  font-size: 1.2vw;
}
.rank-card-top-right{
  text-align: right;
  width:50%;
  height:100%;
  font-size: 1.2vw;
}
.left-color-settings-card{
  width:50%;
  text-align:left;
}
.right-color-settings-card{
  width:50%;
  text-align:right;
}
.color-settings-card{
  display: flex;
  width:100%;
  margin-top:20px;
}
.styles-swatch{
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;

}
.styles-color{
  width: 179px;
  height: 14px;
  border-radius:2px;
}
 .popover{
  position: absolute;
  z-index: 9999999;
}
.commands-type-click{
  margin-top: 15px;
  height:25px;
  margin-left: 1px;
  cursor: pointer;
  background-color: rgb(47, 54, 61);
  border:none;
  outline:none;
}
.commands-type-click:hover{
  color:rgb(114, 113, 113);
  border: 2px groove rgb(41, 41, 109);
}
.commands-type-click-open{
  margin-top: 15px;
  height:25px;
  margin-left: 1px;
  cursor: pointer;
  background-color: rgb(47, 54, 61);
  border:none;
  outline:none;
  color:white;
  border: 2px groove rgb(100, 100, 250);
}
.commands-block{
  vertical-align: top;
  border: 2px groove black;
 display: inline-block;
 margin:25px;
  width:200px;
  height: 200px;
}
.commands-block-container{
  overflow-y: auto;
  max-height:85vh;
 
}
.commands-opisanie{
  border-top: 1px groove rgb(100, 100, 250);
  border-bottom: 1px groove rgb(100, 100, 250);
  height:70%;
  margin-top:5px;
  text-align:center;
  align-items: center;
  display: flex;
}
.commands-opisanie-no-border-bottom{
  border-top: 1px groove rgb(100, 100, 250);
  height:70%;
  margin-top:5px;
  text-align:center;
  align-items: center;
  display: flex;
}
.commands-settings-bottom{
  width: 100%;
  height:17%;
  display: flex;
  
}
.commands-settings-bottom-left{
  width:83%;
  text-align: center;
  height:100%;
  display: flex;  
   align-items: flex-end;
}
.commands-settings-bottom-right{
  width:17%;
  text-align: right;
  height:100%;
  display: flex;  
   align-items: flex-end;
   
}
/* The switch - the box around the slider */
.switch-minimal {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* Hide default HTML checkbox */
.switch-minimal input {display:none;}

/* The slider */
.slider-minimal {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-minimal:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-minimal {
  background-color: #2196F3;
}

input:focus + .slider-minimal {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-minimal:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
.button-settings-commands-open{
  margin-right: 5px;
  margin-bottom:5px;
  background: none;
  border:none;
  outline: none;
  cursor: pointer;
  color:white;
}
.commands-opisanie-off{
  border-top: 1px groove rgb(255, 54, 54);
  border-bottom: 1px groove rgb(255, 54, 54);
  height:70%;
  margin-top:5px;
  text-align:center;
  align-items: center;
  display: flex;
}
.icon-question-background{
  height: 18px;
  width: 18px;
  background-color: rgb(48, 56, 70);
  border-radius: 200px;
  border-top: 2px groove grey;
  border-bottom: 2px groove grey;
  border-right: 2px groove rgb(48, 56, 70);
  border-left: 2px groove rgb(48, 56, 70);
  cursor: pointer;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.icon-question{
  padding-left:3px;
  height: 14px;
  width: 14px;
  color:white;
}
.icon-question-background:hover{
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
.documentation-command{
  margin-top:0.5%;
  margin-bottom:0.5%;
  margin-left:0.5%;
  color:gray;
  font-size: 15px;
}
.a-link{
  color: #000!important;
  text-decoration: none;
  margin-top:0.5%;
          margin-bottom:0.5%;
          margin-left:0.5%;
}
@media (max-width: 800px) {
  .Dashboard-left{
    display: none;
  }
  .Dashboard-right{
    width:1000px;
    height: auto;
    margin:25px;
    overflow:hidden;
  }
  .main{
    width:100%;
  }
  .main-block-levels{
    width:100%;
    margin-top:25px;
  }
}
.main-block-left{
  text-align:left;
  width:50%;
  height:100%;
}
.main-block-right{
  text-align: right;
  width:50%;
  height:100%;
  display:inline;
}
.block-custom-commands{
  width:97%;
  display: flex;
  padding-top:20px;
  padding-left:20px;
  border-bottom: 2px groove black; 
}
.block-custom-commands-rigth{
  text-align: right;
  width:20%;
  height:100%;
  display:inline;
}
.block-custom-commands-left{
  text-align:left;
  width:80%;
  height:100%;
}
.settings-command-edit{
  width:60%;
  height:550px;
}
.settings-command-edit-top{
  max-width:100%;
  height:25px;
  background-color:rgb(20, 82, 117);
  padding-top:10px;
  padding-left:20px;
  text-align: left;
}
.settings-command-edit-bottom{
  
  max-width:100%;
  height:525px;
  background-color: rgb(10, 32, 44);
  border: 2px groove black;
  overflow-y: auto;
  text-align: left;
}
.settings-text-razdel{
  padding-top: 20px;
  padding-left: 20px;
}
.textarea-edit-commands{
  resize: none;
  outline: none;
  margin-top: 20px;
  margin-left:20px;
  width:90%;
  height:200px;
  color:white;
  background-color: rgb(27, 28, 44);
}
.textarea-edit-commands-embed{
  resize: none;
  outline: none;
  margin-top: 20px;
  margin-left:20px;
  width:90%;
  height:200px;
  color:white;
  background-color: rgb(27, 28, 44);
}
.knopka-toggle-picker-color{
  background-color: rgb(58, 58, 250);
  color:white;
  width:20%;
  outline: none;
  cursor:pointer;
  font-size: 20px;
  height:30px;
  border-radius: 5px;
  border: none;
}
.knopka-toggle-picker-color:hover{
  background-color: rgb(58, 58, 129);
}
.knopka-toggle-picker-color:active{
  background-color: rgb(58, 58, 65);
}
.knopka-hidden-embed{
  background-color:rgb(59, 55, 55);
  border-radius:5px;
  border:none;
  font-size: 20px;
   height:30px;
    outline:none;
    cursor:pointer;
}
.knopka-hidden-embed:hover{
  background-color:rgb(59, 49, 49);
}
.knopka-hidden-embed:active{
  background-color:rgb(44, 43, 43);
}
.settings-text-razdel-embed{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px groove black;
  border-right: 1px groove black;
  border-bottom: 1px groove black;
  border-left: 5px groove #000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input-type-text{
  color:white;
  background-color: rgb(27, 28, 44);
  outline:none;
  border-radius: 5px;
  margin:10px;
  height:30px;
}
.button-bottom{
  max-width:100%;
  text-align: right;
  margin-top:20px;
  padding-right:20px;
}
.save-settings-command-button{
  width: 100px;
  background-color: rgb(119, 241, 119);
  color:white;
  outline: none;
  cursor: pointer;
}
.cancel-settings-command-button{
  background-color: rgb(182, 44, 44);
  outline: none;
  cursor: pointer;
}
.width-icon{
  width:45%;
}
.width-date{
  width:40%;
}
.width-name{
  width:66.5%;
}
.save-button{
  color:white;
  background-color: rgb(35, 248, 35);
  cursor: pointer;
  outline:none;
  border:none;
  width:200px;
  height:30px;
  margin-top: 20px;
}
.save-button:hover{
  color:rgb(109, 204, 199);
  background-color: rgb(3, 207, 3);
}
@media (max-width: 850px) {
  .textarea-edit-commands-embed{
    resize: none;
    outline: none;
    margin-top: 20px;
    margin-left:10px;
    width:90%;
    height:200px;
    color:white;
    background-color: rgb(27, 28, 44);
  }
  .knopka-toggle-picker-color{
    background-color: rgb(58, 58, 250);
    color:white;
    width:50%;
    outline: none;
    cursor:pointer;
    font-size: 20px;
    height:30px;
    border-radius: 5px;
    border: none;
  }
  .input-type-text{
    color:white;
    background-color: rgb(27, 28, 44);
    outline:none;
    border-radius: 5px;
    margin-top: 0;
    height:30px;
    width:90%;
  }
  .settings-command-edit{
    width:100%;
    height:100%;
  }
  .settings-command-edit-top{
    max-width:100%;
    height:5%;
    background-color:rgb(20, 82, 117);
    padding-top:10px;
    padding-left:20px;
    text-align: left;
  }
  .settings-command-edit-bottom{
    
    max-width:100%;
    height:95%;
    background-color: rgb(10, 32, 44);
    border: 2px groove black;
    overflow-y: auto;
    text-align: left;
  }
  .Dashboard-left{
    display: none;
  }
  .Dashboard-right{
    width:100%;
    height: auto;
    margin-top:25px;
    overflow:hidden;
  }
  .main{
    width:100%;
  }
  .main-block-levels{
    width:100%;
    margin-top:25px;
  }
}
