::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:5px;
  height:0px
  }
  
  ::-webkit-scrollbar-track {
  background-color:#ecedee
  }
  
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color:#6dc0c8;
  }
  
  ::-webkit-scrollbar-thumb:hover{
  background-color:#56999f;
  }
  
  ::-webkit-resizer{
  background-repeat:no-repeat;
  width:4px;
  height:0px
  }
  
  ::-webkit-scrollbar{
  width: 4px;
  }
.App {
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;      
  user-select: none; 
}
.App-header-top{
  display:flex;
  background-color: #282a2c;
}
.App-header-top-left{
  text-align:left;
  width:20%;
  height:100%;
}
.App-header-top-right{
  text-align: right;
  width:80%;
  height:100%;
}
.App-logo {
  height: 16vmin;
  pointer-events: none;
  border-radius: 200px;
}
.App-logo-top{
  padding-top: 5px;
  height: 30px;
  width: 30px;
  vertical-align: top;
  pointer-events: none;
  border-radius: 200px;
  margin-top: -5px;
}
.App-logo-top-link{
  text-decoration: none;
  vertical-align: top;
  color:white;
  display: flex;
  font-size: 27px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 20vmin);
  color: white;
}
.App-header-premium{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-header-commands {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.add-to-discord{
  background-color: #17b3b3;
  color:white;
  font-size:5vh;
  outline:none;
  cursor:pointer;
}

.App-link {
  color: #61dafb;
}
.Login{
   color:white;
   background-color: #282a2c;
   width:150px;
   height:30px;
   outline:none;
   cursor:pointer;
   vertical-align: top;
}
.Donate{
  cursor: pointer;
  outline: none;
}
.Donate:hover::after{
  content:" Premium";
}
.Donate:hover{
  background-color: aquamarine;
}
.Support{
  cursor: pointer;
  outline: none;
}
.Support:hover::after{
  content:" Техподдержка";
}
.Support:hover{
  background-color: aquamarine;
}
.Commands{
  cursor: pointer;
  outline: none;
}
.Commands:hover::after{
  content:" Команды";
}
.Commands:hover{
  background-color: aquamarine;
}
.Documentation{
  cursor: pointer;
  outline: none;
}
.Documentation:hover::after{
  content:" Документация";
}
.Documentation:hover{
  background-color: aquamarine;
}
.server-selected{
  color:white;
  background-color: #282a2c;
  height:30px;
  width:150px;
  outline:none;
  cursor:pointer;
  vertical-align: top;
}
.button-open-menu{
  display: none;
}
.server-selected-block{
  width: 150px;
  color:white;
  display: flex;
  margin-left:5px;
  margin-top: 5px;
  outline:none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;      
  user-select: none;
  cursor: pointer;
}
.server-selected-block-no{
  width: 150px;
  color:rgb(94, 92, 92);
  display: flex;
  margin-left:5px;
  margin-top: 5px;
  outline:none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;      
  user-select: none;
  cursor: pointer;
   
}
.server-selected-current{
  width: 50px;
  height:20px;
  color:white;
  display: flex;
  outline:none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;      
  user-select: none;
  cursor: pointer;
}
.server-selected-block:hover{
  background-color: #61dafb;
}
.server-selected-block-no:hover{
  background-color: #61dafb;
  color:white;
}
.server-selected-icon-current{
  padding-top:5px;
}
.server-selected-name{
  margin-left: 5px;
  font-size: 10px;
  padding-top:5px;
  padding-left: 10px;
}
.server-selected-add-or-settings{
  margin-left: 5px;
  font-size: 10px;
  padding-top:5px;
  padding-left: 40px;
}
.server-selected-name-current{
  font-size: 10px;
  padding-top: 4px;
  padding-left: 10px;
  min-width:90px;
  max-width:90px;
  overflow: hidden;
}
.server-selected-add-or-settings-current{
  font-size: 10px;
  padding-top: 2px;
  padding-left: 15px;
}
.server-selected-icon-options{
  height: 22px;
  pointer-events: none;
  border-radius: 200px;
}
.server-selected-icon-options-current{
  height: 15px;
  width: 15px;
  pointer-events: none;
  border-radius: 200px;
  padding-top: 2px;
}
.server-selected-name{
  margin-left: 5px;
  font-size: 10px;
  padding-top:5px;
  padding-left: 10px;
}
.App-header-min{
  display: flex;
  font-size: 5vmin;
  color: white;
  text-decoration: none;
}
.quit-user{
  background: none;
  width:135px;
  text-align: left;
  color:rgb(255, 46, 46);
  border:none;
  outline:none;
  cursor:pointer;
}
.server-selected-menu-mobile{
  width:90%;
      height:50px;
      outline:none;
      background-color: #282c34;
      border:none;
      margin-top:5px;
      color: white;
      text-align: left;
      padding-left: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 850px) {
  .App-logo-top{
    display: none;
  }
  .Commands{
    display: none;
  }
  .Documentation{
    display: none;
  }
  .Donate{
    display: none;
  }
  .Support{
    display: none;
  }
  .button-open-menu{
    display: block;
  }
  .App-header-min{
    display: none;
  }
  .server-selected-block{
    width: 150px;
    color:white;
    display: flex;
    margin-left:30px;
    margin-top: -20px;
    outline:none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;      
    user-select: none;
    cursor: pointer;
  }
  .server-selected-block-no{
    width: 150px;
    color:rgb(94, 92, 92);
    display: flex;
    margin-left:30px;
    margin-top: 5px;
    outline:none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;      
    user-select: none;
    cursor: pointer;
     
  }
}
@media (max-width: 400px) {
  .App-logo-top{
    display: none;
  }
  .Commands{
    display: none;
  }
  .Documentation{
    display: none;
  }
  .Donate{
    display: none;
  }
  .Support{
    display: none;
  }
  .button-open-menu{
    display: block;
    background-color: #282a2c;
    outline:none;
  }
  .server-selected{
    display:none;
  }
}